{% extends "main/base.html" %}
{% load static %}

{% block title %}Stránka nenalezena{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/404.css' %}">
{% endblock %}

{% block content %}
<section class="error-page">
    <h1>404 - Stránka nenalezena</h1>
    <p>Omlouváme se, ale požadovaná stránka nebyla nalezena.</p>
    <p><a href="{% url 'main:home' %}">Zpět na úvodní stránku</a></p>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/404.js' %}"></script>
{% endblock %}
